{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

 <div class="skillset">
  <div class="row">
  <div class="column">
  <ul>
    <div class="item">
     JavaScript
     </div>
     <div class="item">
       HTML5
     </div>
     <div class="item">
       CSS & SASS
     </div>
     <div class="item">
       Node.js
     </div>
     <div class="item">
       Express
     </div>
     <div class="item">
       jQuery & AJAX
     </div>
     <div class="item">
       React
     </div>
   </div>
   <div class="column">
     <div class="item">
       PostgreSQL
     </div>
     <div class="item">
       WebSockets
     </div>
     <div class="item">
       Ruby
     </div>
     <div class="item">
       Ruby on Rails
     </div>
    <div class="item">
       Babel
    </div>
    <div class="item">
       Webpack
    </div>
    <div class="item">
       Knex
    </div>
   </ul>
   </div>
   </div>

  </div>

</section><!--//skills-section-->
{% endif %}
