{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>

 <div class="skillset">
  <div class="row">
  <div class="column">
    <div class="title">Languages, Libraries & Frameworks</div>
    <div class="item">
     ‣ JavaScript & Node.js
     </div>
     <div class="item">
     ‣ HTML5
     </div>
     <div class="item">
     ‣ CSS & SASS
     </div>
     <div class="item">
     ‣ React
     </div>
     <div class="item">
     ‣ Liquid
     </div>
     <div class="item">
     ‣ jQuery & AJAX
     </div>
     <div class="item">
     ‣ MJML
     </div>
     <div class="item">
     ‣ Express
     </div>
   </div>
   <div class="column">
     <div class="title">CMSs & Software Platforms</div>
     <div class="item">
     ‣ WordPress & WooCommerce
     </div>
     <div class="item">
     ‣ Shopify
     </div>
     <div class="item">
     ‣ Zoho One
     </div>
     <div class="item">
     ‣ Zapier
     </div>
    <div class="item">
     ‣ Google Analytics
    </div>
    <div class="item">
     ‣ Google Ads
    </div>
    <div class="item">
     ‣ Google Tag Manager
    </div>
    <div class="item">
     ‣ Pardot & GetResponse
    </div>

   </div>
   </div>

  </div>

</section><!--//skills-section-->
{% endif %}
